 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <p><strong>Juliet Jacka</strong> started writing junior fiction stories when she was on maternity leave with her first daughter (who was luckily a good sleeper). Juliet's first book <em>Night of the Perigee Moon</em> won the 2013 Tom Fitzgibbon Storylines Award and was published in 2014 by Scholastic. Her story <em>The Keeper of Spirit Hill</em> was shortlisted in Tom Fitzgibbon competitions in 2011 and 2013. Her delightful chapter-book series about Frankie Potts, red-haired girl detective was launched by Puffin in June 2016 with <em>#1 Frankie Potts and the Sparkplug Mysteries</em> and <em>#2 Frankie Potts and the Bikini Burglar</em>.</p>
                  <p>Juliet is pleased to be carrying on a family tradition by becoming a published author: she's the third generation to do so. She lives in one of Wellington's hilly suburbs in a red house by a railway line, with her husband and two young daughters. Juliet juggles writing with family life and her work, which involves doing inscrutable digital stuff with websites.</p>
                </div>
            </div>
        </div>
    </section>
