 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <p><strong>I</strong> started writing junior fiction stories when I was on maternity leave with my first daughter (who was luckily a good sleeper). My first book <em>Night of the Perigee Moon</em> won the 2013 Tom Fitzgibbon Storylines Award and was published in 2014 by Scholastic. My new chapter-book series about Frankie Potts, red-haired girl detective was launched by Puffin in June 2016 with <em>#1 Frankie Potts and the Sparkplug Mysteries</em> and <em>#2 Frankie Potts and the Bikini Burglar</em>.</p>
                  <p>I'm pleased as punch to be carrying on a family tradition by becoming a published author: I'm the third generation to do so. I live in one of Wellington's hilly suburbs in a red house by a railway line, with my husband and two young daughters. I juggle writing with family life and work, which involves doing inscrutable digital stuff with websites.</p>
                </div>
            </div>
        </div>
    </section>
